asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.7
Django==6.0.3
idna==3.11
lxml==6.1.0
numpy==2.4.3
pandas==3.0.1
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
psycopg2-binary==2.9.11
pycparser==3.0
pypdfium2==5.7.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
requests==2.33.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
